*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-color: #F5F7FE;
}
/* primary section */

/* primary button */
.primary_button{
    width: 130px;
    height: 45px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition:  0.3s;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border:none;
    text-align: center;
}

.primary_button:hover{
    color: #4E47FF;
    background-color:white;
    width: 131px;
    transition: 2sec;
    border:1px solid #4E47FF
}
 
/* banner section */
.top_section{
   width: 100%;
   height: 600px;
   background-image: url('./Assets/Hero-bg.png');
   margin-bottom: 100px;
}

/* navber section */
.nav_sec{
    display: flex;
    justify-content: space-between;
    padding: 50px; 
    max-width: 1200px;  
    margin: 0 auto;
}

 .nav_sec h1{
     font-family: 'Poppins', sans-serif;
   
   font-weight: 900;
   font-size: 40px;
   color: #4E47FF;
    cursor: pointer;
    letter-spacing: 7px;

 }

 /* hero section */
 .hero_sec {
    text-align: center;
    width: 700px;
    margin: 0 auto;
 }

 .hero_sec h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 110px;
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    line-break: initial;
    
 }
 .hero_sec button{
    width: 150px;
 }
  .hero_sec button:hover{
    width: 150px;
  }

  /* action section */
  .action_sec{
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;

  }
 .action_info{
   width: 25%;
   margin-left: 80px;
   margin-top: 40px;
 }
 
.action_info *{
   margin-bottom: 20px;
}
  .action_info h2{
   font-weight: bolder;
   font-family:'Raleway', sans-serif;
   font-size: 34px;

  }
  .action_sec p{
   font-family:'Raleway', sans-serif;
   font-size: 16px;
   color: rgba(25, 25,32,50%);
  }
  .action_info button{
   width: 180px;
   font-size: 14px;
  }
   .action_info button:hover{
    width: 180px;
  }
.action_img{
   margin-right: 80px;
}

  .action_img img{
   width: 300px;
   border-radius: 20px;
   
  }

  /* Users Section */
  .user_sec{
   max-width: 1045px;
   height: 240px;
   background-color:rgba(78, 71, 255, 0.1) ;
   margin: 0 auto;
   border-radius: 15px;
   margin-top: 120px;
   margin-bottom: 120px;
   
  }
  .user_heading{
   margin: 0 auto;
  }
  .user_heading h2{
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 34px;
   padding-top: 30px;
  }

.data_sec{
   font-family: 'Inter', sans-serif;
   display: flex;
   justify-content: space-evenly;
}
.data_1{
   padding-top: 30px;
}

  .data_1 h1{
  font-size: 60px;
  color: #4E47FF;
  }

  .data_1 p{
    font-size: 16px;
   color: rgba(25, 25,32,50%);
   padding-left: 6px;
   
  }
  .feedback_sec{
  max-width: 1045px;
  height: 290px;
  background-color: rgb(117, 139, 158);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 90px;

  }
  .feed_h1{
   font-family:'Raleway', sans-serif ;
   font-size: 35px;
   padding-top: 20px;
   text-align: center;
  }

  /* focus section */
  .focus_sec{
   max-width: 1045px;
   height: 600px;
   background-color: white;
   margin: 0 auto;
   border-radius: 15px;
   margin-bottom: 90px;
 
  }
.focus_sec *{
   text-align: center;
}
.focus_sec h1{
    font-family: 'Raleway', sans-serif;
   font-size: 34px;
   padding-top: 30px;
   margin-bottom: 15px;
   font-weight: bold;
}
.focus_sec p{
    font-family:'Raleway', sans-serif;
   font-size: 16px;
   color: rgba(25, 25,32,50%);
   padding-top: 15px;
}

.focus_sec button{
   margin-left: 41%;
   width: 180px;
   margin-top: 20px;

}
.focus_sec button:hover{
   width: 180px;
}
.focus_sec img{
   width: 750px;
   margin-left: 140.7px;
   border-radius: 20px;
   margin-top: 30px;
}

/* login section */
.login_sec{
   max-width: 1045px;
   height: 400px;
   /* background-color: cadetblue; */
   margin-top: 90px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
}
.login_heading h1{
   font-family: 'Raleway', sans-serif;
   font-size: 65px;
   padding-top: 130px;
   padding-left: 50px;
}
.login_form{
   padding-top: 27px;
   
}
.login_form label{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.email, .text{
   padding: 14px;
   border-radius: 10px;
   border: none;
   margin-top: 4px;
   border: 1px solid rgb(110, 106, 106 ,0.4);
}
.login_form .msg{
   border: 1px solid rgb(110, 106, 106 ,0.4);
   border-radius: 10px;
}

.login_form button{
   width: 307px;
}
.login_form button:hover{
    width: 307px;
}
/* footer */

footer{
   background-color: white;
   width: 100%;
   height: 300px;
   margin-top: 100px;
   padding-top: 80px;
   margin-bottom: 10px;
}

footer h1{
    font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #4E47FF;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 7px;

}
footer p{
    font-family:'Raleway', sans-serif;
   font-size: 13px;
   color: rgba(19, 19, 22, 0.5);
   text-align: center;
}


.foot_list ul{
   display: flex;
   width: 400px;
   margin: 0 auto;
   justify-content: space-evenly;

}

.foot_list ul li{
  list-style: none;
  text-decoration: none;
   font-family:'Raleway', sans-serif;
   color: rgba(7, 7, 7, 0.7);
   margin: 0 auto;
   font-size: 10px;
   margin-top: 20px;
   cursor: pointer;
}